body {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
div.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(119, 136, 153);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Lucida Console", Monaco, monospace;
}
input[type=text], input[type=password]{
    font-family: "Lucida Console", Monaco, monospace;
}
.error {
    color: red;
    font-size: 10px;
}
.sideelement {
    color: grey;
    font-size: 10px;
}
